@mixin debug($size: auto, $color: color(debug)) {
    @if $size == auto {
        @if config(allow-half-line) {
            $size: r(.5);
        } @else {
            $size: r(1);
        }
    }
    @include background((
        image: linear-gradient(to top, $color 5%, transparent 5%) !important,
        size: 100% $size !important,
        position: left top !important,
    ));
}
@mixin debug-mode {
    @if get(debug) {
        @include debug();
    }
}
