@function get($value) {
    $result: false;
    @while get-value($value) {
        $result: get-value($value);
        $value: $result;
    }
    @return $result;
}
@function get-value($value) {
    @if type-of($value) != map {
        @if length($value) == 1 {
            @return map-get($variables, $value);
        }
        @if type-of(first($value)) == string {
            @return map-fetch($variables, $value);
        }
        @return map-fetch(first($value), slice($value, 2, length($value)));
    }
    @return false;
}
