@mixin max-size($value, $important: null) {
    $width: first($value);
    $height: last($value);
    @if type-of($width) == number {
        @if unitless($width) {
            $width: r($width);
        } @else if unit($width) == px {
            $width: rem($width);
        }
    }
    @if type-of($height) == number {
        @if unitless($height) {
            $height: r($height);
        } @else if unit($height) == px {
            $height: rem($height);
        }
    }
    @if $width != n {
        max-width: $width $important;
    }
    @if $height != n {
        max-height: $height $important;
    }
}
