/*
Examples:
@include position(0);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
@include position(0 1rem);
    top: 0;
    right: 1rem;
    bottom: 0;
    left: 1rem;
@include position(0 1rem n);
    top: 0;
    right: 1rem;
    left: 1rem;
@include position(0 n n 1rem);
    top: 0;
    left: 1rem;
*/
@mixin position($value: n, $position: null, $z-index: null) {
    @if length($value) == 1 {
        @if $value != n {
            @if $value != auto {
                @if unitless($value) {
                    $value: r($value);
                }
            }
            top: $value;
            right: $value;
            bottom: $value;
            left: $value;
        }
    } @else if length($value) == 2 {
        $top-bottom: nth($value, 1);
        $right-left: nth($value, 2);
        @if $top-bottom != n {
            @if $right-left != auto {
                @if unitless($top-bottom) {
                    $top-bottom: r($top-bottom);
                }
            }
            top: $top-bottom;
            bottom: $top-bottom;
        }
        @if $right-left != n {
            @if $right-left != auto {
                @if unitless($right-left) {
                    $right-left: r($right-left);
                }
            }
            right: $right-left;
            left: $right-left;
        }
    } @else if length($value) == 3 {
        $top: nth($value, 1);
        $right-left: nth($value, 2);
        $bottom: nth($value, 3);
        @if $top != n {
            @if $top != auto {
                @if unitless($top) {
                    $top: r($top);
                }
            }
            top: $top;
        }
        @if $right-left != n {
            @if $right-left != auto {
                @if unitless($right-left) {
                    $right-left: r($right-left);
                }
            }
            right: $right-left;
            left: $right-left;
        }
        @if $bottom != n {
            @if $bottom != auto {
                @if unitless($bottom) {
                    $bottom: r($bottom);
                }
            }
            bottom: $bottom;
        }
    } @else if length($value) == 4 {
        $top: nth($value, 1);
        $right: nth($value, 2);
        $bottom: nth($value, 3);
        $left: nth($value, 4);
        @if $top != n {
            @if $top != auto {
                @if unitless($top) {
                    $top: r($top);
                }
            }
            top: $top;
        }
        @if $right != n {
            @if $right != auto {
                @if unitless($right) {
                    $right: r($right);
                }
            }
            right: $right;
        }
        @if $bottom != n {
            @if $bottom != auto {
                @if unitless($bottom) {
                    $bottom: r($bottom);
                }
            }
            bottom: $bottom;
        }
        @if $left != n {
            @if $left != auto {
                @if unitless($left) {
                    $left: r($left);
                }
            }
            left: $left;
        }
    }
    @if $position {
        position: $position;
    }
    @if $z-index {
        z-index: $z-index;
    }
}
