@mixin size($value, $important: null) {
    $width: first($value);
    $height: last($value);
    @if is($width, number) {
        @if is($width, unitless) {
            $width: r($width);
        } @else if is($width, px) and $width > 1 {
            $width: rem($width);
        } @else {
            $width: $width;
        }
    }
    @if is($height, number) {
        @if is($height, unitless) {
            $height: r($height);
        } @else if is($height, px) and $height > 1 {
            $height: rem($height);
        } @else {
            $height: $height;
        }
    }
    @if $width != n {
        width: $width $important;
    }
    @if $height != n {
        height: $height $important;
    }
}
