@mixin spacing($property, $raw-value: 0, $important: null) {
    //* pass 'n' to ommit sides
    $value: ();
    $shortnotation: true;
    @each $val in list($raw-value) {
        @if $val == n {
            $shortnotation: false;
        } @else if $val != auto {
            @if unitless($val) {
                $val: r($val);
            } @else {
                @if type-of($val) != number {
                    $val: number($val);
                }
                @if unit($val) == px {
                    $val: rem($val);
                }
            }
        }
        $value: append($value, $val);
    }
    @if $shortnotation {
        #{$property}: unquote(string($value)) $important;
    } @else {
        @if length($value) == 2 {
            $y: nth($value, 1);
            $x: nth($value, 2);
            @if $y != n {
                #{$property+'-top'}: $y $important;
                #{$property+'-bottom'}: $y $important;
            }
            @if $x != n {
                #{$property+'-right'}: $x $important;
                #{$property+'-left'}: $x $important;
            }
        } @else if length($value) == 3 {
            $t: nth($value, 1);
            $x: nth($value, 2);
            $b: nth($value, 3);
            @if $t != n {
                #{$property+'-top'}: $t $important;
            }
            @if $x != n {
                #{$property+'-right'}: $x $important;
                #{$property+'-left'}: $x $important;
            }
            @if $b != n {
                #{$property+'-bottom'}: $b $important;
            }
        } @else if length($value) == 4 {
            $t: nth($value, 1);
            $r: nth($value, 2);
            $b: nth($value, 3);
            $l: nth($value, 4);
            @if $t != n {
                #{$property+'-top'}: $t $important;
            }
            @if $r != n {
                #{$property+'-right'}: $r $important;
            }
            @if $b != n {
                #{$property+'-bottom'}: $b $important;
            }
            @if $l != n {
                #{$property+'-left'}: $l $important;
            }
        }
    }
}
