body {
	background-color: color(background);
}
body,
html {
	@include size(_ 100%);
}
main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: max-content;
	grid-template-areas: "slider content" "footer footer";
}
.slider { grid-area: slider; }
.content { grid-area: content; }
.footer { grid-area: footer; }