.footer {
	@include size(n 100vh);
	display: grid;
	grid-template-columns: 1fr;
	@include bp(12) {
		grid-template-columns: 1fr 1fr;
	}
	.map {
		@include size(n 650px);
		background-color: color(white);
		order: 2;
		z-index: 1;
		@include bp(12) {
			@include size(auto);
			order: unset;
		}
	}
	.data {
		@include padding(16px 20px);
		background-color: color(white);
		@include bp(7) {
			@include padding(54px 12%);
		}
		h2 {
			@include margin(n n 14px n);
			@include font((
				appearance: bold,
				family: script,
				size: 30px,
			));
			color: color(bold);
			letter-spacing: 0;
		}
		p {
			@include margin(n n 20px n);
			@include font((
				appearance: bold,
				family: script,
				size: 20px 36px,
			));
			color: color(bold);
			letter-spacing: 0;
		}
		h3 {
			@include margin(n n 10px n);
			@include font((
				appearance: bold,
				family: script,
				size: 18px 28px,
			));
			color: #1c2d48;
			letter-spacing: 0;
			span {
				text-transform: uppercase;
			}
		}
		ul {
			@include margin(n n 120px n);
			li {
				@include font((
					appearance: regular,
					family: script,
					size: 16px 36px,
				));
				color: color(regular);
				letter-spacing: 0;
				span {
					@include font((
						appearance: bold,
					))
				}
				a {
					&:focus,
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		img {
			@include margin(0 auto);
			@include max-size(100% n);
			display: none;
			@include bp(7) {
				display: block;
			}
		}
	}
}