nav {
	@include fixed(0 0 n 0, 2);
	@include padding(n 20px);
	@include size(auto 80px);
	align-items: center;
	background-color: color(background);
	box-shadow: 0 10px 20px 0 rgba(227, 230, 237, 0.6);
	display: flex;
	justify-content: space-between;
	@include bp(7) {
		@include padding(n 12%);
		justify-content: center;
	}
	@include bp(12) {
		@include padding(n 6%);
		@include fixed(0 0 n 50%, 1);
	}
	.element {
		@include absolute(0 n n -80px, 1);
		@include size(80px);
		background-color: color(white);
		span {
			position: relative;
			&::before,
			&::after {
				@include size(80px);
				background-color: color(white .3);
				content: '';
			}
			&::before {
				@include absolute(0 n n -80px);
			}
			&::after {
				@include absolute(80px n -80px n);
			}
		}
	}
	.logo {
		@include bp(7) {
			display: none;
		}
		img {
			@include max-size(126px n);
		}
	}
	ul {
		@include size(100% n);
		display: none;
		justify-content: space-between;
		@include bp(7) {
			display: flex
		}
		li {
			a {
				@include font((
					appearance: bold,
					family: script,
					size: 14px
				));
				color: color(bold);
				letter-spacing: 1px;
				text-transform: uppercase;
				&.active {
					@include font((
						appearance: bolder,
						family: script,
					));
				}
				&:hover {
					border-bottom: 2px solid color(border);
				}
			}
		}
	}
}