.slider {
	@include fixed(0 50% _ 0, 2);
	img {
		@include max-size(100%);
	}
	.graphic {
		@include absolute(0 0 _ _, 1);
		@include size(80px);
		background-color: color(white);
		span {
			position: relative;
			&::before,
			&::after {
				@include size(80px);
				background-color: color(white .3);
				content: '';
			}
			&::before {
				@include absolute(0 _ _ -80px);
			}
			&::after {
				@include absolute(80px _ -80px _);
			}
		}
	}
}