.slider {
	@include max-size(n 100vh);
	@include sticky(0 n n, 0);
	display: none;
	overflow: hidden;
	@include bp(12) {
		display: block;
	}
	object {
		@include min-size(n 100vh);
		img {
			@include min-size(n 100vh);
		}
	}
	.swiper-container {
		@include size(100% 100vh);	
	}
}
.swiper-container {
	@include size(100% n);
	position: relative;
	.swiper-slide {
		object {
			@include size(100% n);
			img {
				@include size(100% n);
			}
		}
		button {
			@include absolute(50% n n 50%);
			transform: translate(-50%, -50%);
			&:focus,
			&:hover {
				svg {
					transform: scale(1.2);
				}
			}
			svg {
				transition: all speed(fast) timing(default);
			}
		}
	}
	&.mobile {
		.swiper-pagination {
			@include padding(n n n 30px);
			@include font((
				appearance: regular,
				family: script,
				size: 12px,
			));
		}
		.swiper-navigation {
			@include size(120px 60px);	
		}
	}
	.swiper-navigation {
		@include absolute(n 0 0 n, 1);
		@include size(160px 80px);
		align-items: center;
		background-color: color(white);
		display: grid;
		grid-template-columns: 1fr 1fr;
		&::before {
			@include absolute(n n n 50%, 1);
			@include size(1px 26px);
			content: '';
			background-color: color(black);
		}
		.next {
			transform: rotate(180deg);
		}
		.next,
		.prev {
			@include size(100%);
			align-items: center;
			cursor: pointer;
			display: flex;
			justify-content: center;
			svg {
				@include size(18px 10px);
				transition: all speed(fast) timing(default);
			}
			&::after {
				content: '';
			}
			&:focus,
			&:hover {
				svg {
					transform: scale(1.2);
				}
			}
		}
	}
	.swiper-pagination {
		@include padding(n n n 60px);
		@include font((
			appearance: regular,
			family: script,
			size: 16px,
		));
		color: color(white);
		text-align: left;
		letter-spacing: .5px;
		z-index: 1;
		.swiper-pagination-current {
			@include font((
				appearance: bolder,
				family: script,
				size: 40px
			));
			letter-spacing: 0;
		}
	}
}